<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CoffeeGoBarista.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string></string>
				<key>dateExpires</key>
				<string></string>
				<key>type</key>
				<string>Unknown</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>933F83CUZH</string>
						<key>name</key>
						<string>NI Vol</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>AlamofireImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>933F83CUZH</string>
						<key>name</key>
						<string>NI Vol</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>CarbonKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>933F83CUZH</string>
						<key>name</key>
						<string>NI Vol</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>Cosmos.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>933F83CUZH</string>
						<key>name</key>
						<string>NI Vol</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>DynamicBlurView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>933F83CUZH</string>
						<key>name</key>
						<string>NI Vol</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>933F83CUZH</string>
						<key>name</key>
						<string>NI Vol</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>HCSStarRatingView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>933F83CUZH</string>
						<key>name</key>
						<string>NI Vol</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>933F83CUZH</string>
						<key>name</key>
						<string>NI Vol</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>NVActivityIndicatorView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>933F83CUZH</string>
						<key>name</key>
						<string>NI Vol</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>PopupDialog.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>933F83CUZH</string>
						<key>name</key>
						<string>NI Vol</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>933F83CUZH</string>
						<key>name</key>
						<string>NI Vol</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>SQLite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>933F83CUZH</string>
						<key>name</key>
						<string>NI Vol</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>933F83CUZH</string>
						<key>name</key>
						<string>NI Vol</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>SeamlessSlideUpScrollView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>933F83CUZH</string>
						<key>name</key>
						<string>NI Vol</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>SwiftMessages.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>933F83CUZH</string>
						<key>name</key>
						<string>NI Vol</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>933F83CUZH</string>
						<key>name</key>
						<string>NI Vol</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>Tamamushi.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>933F83CUZH</string>
						<key>name</key>
						<string>NI Vol</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>Toast_Swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>933F83CUZH</string>
						<key>name</key>
						<string>NI Vol</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>XLPagerTabStrip.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>933F83CUZH</string>
						<key>name</key>
						<string>NI Vol</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>933F83CUZH</string>
						<key>name</key>
						<string>NI Vol</string>
					</dict>
				</dict>
			</array>
			<key>name</key>
			<string>CoffeeGoBarista.app</string>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>933F83CUZH</string>
				<key>name</key>
				<string>NI Vol</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
