<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<false/>
	<key>destination</key>
	<string>export</string>
	<key>method</key>
	<string>development</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.CoffeeGo.CoffeeGoBarista</key>
		<string>CoffeeGoBaristaDev</string>
	</dict>
	<key>signingCertificate</key>
	<string>6A46DD7B3289990519389E14E5F2EDF4C331ABA4</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<false/>
	<key>teamID</key>
	<string>933F83CUZH</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
