<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>331316919621-6v9qn21ja78scaf0pnste6p7hqnjaaon.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.331316919621-6v9qn21ja78scaf0pnste6p7hqnjaaon</string>
	<key>API_KEY</key>
	<string>AIzaSyDiA_ewhTPM1MR0GwGXIkBrjQSiYIWbPeo</string>
	<key>GCM_SENDER_ID</key>
	<string>331316919621</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.CoffeeGo.CoffeeGoBarista</string>
	<key>PROJECT_ID</key>
	<string>coffee-go-199712</string>
	<key>STORAGE_BUCKET</key>
	<string>coffee-go-199712.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:331316919621:ios:742eb6c7492acaa6</string>
	<key>DATABASE_URL</key>
	<string>https://coffee-go-199712.firebaseio.com</string>
</dict>
</plist>